@import '../../common/styles/sass/variables';

.blockContainer {
    display: flex;
    margin-top: 28px;
    min-height: 90px;
    width: 100%;
    .yearText {
        min-width: 130px;
        max-width: 150px;
        font-family: Raleway, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 1.42857143;
        color: $textColor;
    }
    .placeText {
        font-weight: 700;
        font-size: 14px;
        margin-top: -10px;
    }
    .mainInformation {
        width: 100%;
        .text {
            min-width: 170px;
            max-width: 350px;
            align-items: flex-start;
            margin: 0;
            padding: 0 0 5px;
            position: relative;
            color: $textColor;
            font-family: Raleway, sans-serif;
            font-weight: 400;
            line-height: 1.1;
            font-size: 18px;
            text-transform: uppercase;
            &::after {
                bottom: 5px;
                width: 100%;
                height: 1px;
                background-color: $textColor;
                opacity: 0.05;
                content: " ";
                position: absolute;
                top: -15px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        .description {
            font-family: Raleway, sans-serif;
            font-weight: 400;
            margin: 0 auto 8px;
            font-size: 14px;
            line-height: 1.42857143;
            color: $textColor;
        }

    }
}












