@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.projectsBlock {
  min-height: 67vh;
  @include flex(column, center, center, wrap);
  background-color: $bgColor;

  .projectsContainer {
    width: 80%;
    margin: 15px 0;

    .projects {
      @include flex(row, space-between, flex-start, wrap);
      width: 100%;
      margin-top: 30px;
    }
  }
}
