@import '../common/styles/sass/variables';

.intermediateBlock {
  position: relative;
  min-height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $textColor;
  background-image: url("../../src/assets/img/bg-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &::before {
    position: absolute;
    content: "";
    color: $bgSecondColor;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  .button {
    position: relative;
    color: white;
    border-color: white;
    z-index: 1;
  }
}






