.hire {
    position: relative;
    min-height: 25vh;
    display: flex;
    align-items: center;
}



.vanta {
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.distanceWork {
    position: relative;
    width: 100%;
    /*margin-top: 100px;*/
}