@import '../../common/styles/sass/variables';

.ContactContainer {
    display: flex;
    align-items: center;
    .logo {
        min-width: 40px;
        height: 40px;
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .text{
        //background-color: $bgSecondColor;
        padding-left: 10px;
    }
}




