@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';


.distantBlock {
  min-height: 25vh;

  @media screen and (max-width: 500px) {
    min-height: 40vh;
  }

  .distantContainer {
    width: 100%;
    @include flex(column, space-evenly, center, wrap);
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    @media screen and (max-width: $mediaWidth) {
      align-items: center;
    }
  }
}
