@import '../../common/styles/sass/variables';


.distantBlock {
    min-height: 25vh;
    /*background-color: #5c5cd0;*/
    ///*position: absolute
    @media screen and (max-width: 500px) {
        min-height: 40vh;

    }

    .distantContainer {
        width: 100%;
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        @media screen and (max-width: $mediaWidth) {
            align-items: center;
        }
        .title {

        }
    }
}
