@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.infoExpertBlock {
  //width: 100%;
  @include flex(row, space-evenly,start,wrap);

  .info {
    width: 48%;
    background-color: $bgColor;
    box-sizing: border-box;
    @media screen and (max-width: $mediaWidth) {
      width: 80%;
    }

    .titleAboutMe {
      @include text(24px, 1.1, 400);
      text-align: left;
      margin-top: 0;
      text-transform: uppercase;
      font-style: normal;
    }

    .span {
      font-weight: 700;
    }
  }

  .expert {
    width: 48%;
    background-color: $bgColor;
    box-sizing: border-box;
    @media screen and (max-width: $mediaWidth) {
      width: 80%;
      margin-top: 15px;
    }

    .titleAboutMe {
      @include text(24px, 1.1, 400);
      text-align: left;
      margin-top: 0;
      text-transform: uppercase;
      font-style: normal;
    }

    .span {
      font-weight: 700;
    }
  }
}






