@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.intermediateBlock {
  position: relative;
  min-height: 25vh;
  width: 100%;
  @include flex(column, center, center, wrap);
  background-color: $textColor;
  background-image: url("../../assets/img/bg-2.jpg");
  @include bgSettings();
  background-attachment: fixed;
  &::before {
    position: absolute;
    content: "";
    color: $bgSecondColor;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  .title {
    margin: 15px 0;
  }
  .logoBlock {
    @include flex(row, space-between, center, wrap);
    width: 80%;
    z-index: 1;

    @media screen and (max-width: $mediaWidth) {
      align-items: start;
      justify-content: center;
    }
    & img {
      height: 100px;
      background-repeat: no-repeat;
      background-attachment: fixed;
      @media screen and (max-width: $mediaWidth) {
        height: 60px
      }
    }
  }
}




