.homeBlock {
    height: 100vh;
    background-color: aqua;
}


.text {
    width: 400px;
    background-color: #bbbbbb;
    padding: 10px;
    box-sizing: border-box;
}

.photo {
    width: 400px;
    height: 400px;
    background-color: #bbbbbb;
}