@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.projectBlock {
    width: 310px;
    background-color: $bgSecondColor;
    display: flex;
    flex-direction: column;
    padding: 20px;

    @media screen and (max-width: $mediaWidth) {
        width: 100%;
        margin-bottom: 20px;
    }
    .imgContainer {
        width: 100%;
        height: 250px;
        background-color: $bgColor;
        @include bgSettings();
        position: relative;
        display: flex;
        .repo{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            color: #fff;
            background: rgba(159, 156, 151, 0.8);
            text-align: center;
            transition: opacity .25s ease-in-out;
            opacity: 0;
            overflow: hidden;
            padding: 15px;
            &:hover{
                opacity: 1;
            }
            .link{
                @include text(14px, 1.5, 500);
                min-width: 80px;
                background: transparent;
                border: 1px solid #fff;
                border-radius: 0;
                outline: 0;
                color: #fff;
                transition: .25s;
                text-transform: uppercase;
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 10px ;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                touch-action: manipulation;
                cursor: pointer;
                user-select: none;
                text-decoration: none;
                width: 100px;
                &:hover{
                    background-color: $textColor;
                    border-color: $textColor;
                }
            }
        }
    }
    .textArea{
        .nameProject {
            @include text(18px, 1.1, 400);
            margin: 20px 0;
            min-width: 170px;
            max-width: 350px;
            align-items: flex-start;
            position: relative;
            color: $textColor;
            text-transform: uppercase;
        }
        .description {
            @include text(14px,14px, 400);
            margin: 0 auto 8px;
            line-height: 1.42857143;
            color: $textColor;
        }
    }
}









