.skillsBlock {
    min-height: 100vh;
    background-color: #f55454;
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #5c5cd0;

}

.skills {
    border: 1px solid;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}