@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.homeBlock {
  height: 100vh;
  background-color: #fff;
  background-image: url("../../assets/img/myPhoto2.jpg");
  background-attachment: fixed;
  box-sizing: content-box;
  @include bgSettings();
  @media screen and (max-width: $mediaWidth) {
    background-position: 45%;
  }

  .parentsText {
    @include container();
    @include flex(row, start, center, wrap);
    .text {
      width: 400px;
      padding: 10px;
      box-sizing: border-box;
      position: relative;

      .greetings, .front {
        @include text(18px, 1.42857143, 400);
        font-style: normal;
        color: $textColor;
        margin-bottom: 36px;
      }

      .name {
        @include text(22px, 35px, 400);
        position: relative;
        color: $textColor;
        text-transform: uppercase;
        outline: 0;
        text-decoration: none;
        font-style: normal;
      }
    }
  }
}


/*Медиа-запрос:*/
/*@media screen and (max-width: 1129px) будет применяться данный медиа-запрос до тех пор, пока ширина экрана будет ниже 1129px{*/
/*    .photo { указываем место, где хотим прописать медиа запрос*/
/*        justify-content: center; заменится только justify-content, все отсальные стили будут применяться те же, что и прописаны в .photo*/
/*    }*/
