@import '../../../common/styles/sass/variables';


.button a {
    text-transform: uppercase;
    color: $textColor;
    text-decoration: none;
    outline: 0;
    border: 2px solid $textColor;
    padding: 12px 22px;
    background-color: transparent;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    &:hover {
        color: $bgSecondColor;
        //transition: 0.3s linear;
    }

}



/*Медиа-запрос:*/
/*@media screen and (max-width: 1129px) будет применяться данный медиа-запрос до тех пор, пока ширина экрана будет ниже 1129px{*/
/*    .photo { указываем место, где хотим прописать медиа запрос*/
/*        justify-content: center; заменится только justify-content, все отсальные стили будут применяться те же, что и прописаны в .photo*/
/*    }*/
/*}*/