.eduContainer {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 30px 30px 10px;
    width: 500px;

}

.title {
    /*background-color: green;*/
    /*margin: 20px 0;*/
    margin-bottom: 0px;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    line-height: 1.1;
}
