@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.blockFooter {
    @include flex(row, center, center, wrap);
    @include text(14px, 14px, 400);
    background-color: $textColor;
    color: $bgColor;
    height: 7vh;
}