@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';


.feedbackFormBlock {

  width: 50%;
  min-height: 50vh;
  background-color: $bgColor;
  @include flex(column, flex-start, center, wrap);
  box-sizing: border-box;
  @media screen and (max-width: $mediaWidth) {
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding-left: 30px;
  }

  .answer {
    @include flex(row, center, center, wrap);
    height: 100%;
    @media screen and (max-width: $mediaWidth) {
      @include flex(row, flex-start, center, wrap);
      margin-left: -30px;
    }
  }

  .form {
    width: 65%;
    height: 100%;
    position: relative;
    @include flex(row, flex-start, center, wrap);
    box-sizing: border-box;
    @media screen and (max-width: $mediaWidth) {
      width: 100%;
      justify-content: center;
      border-right: 1px solid rgba(1, 1, 1, 0);
    }

    .firstBlock {
      width: 90%;
      display: flex;
      justify-content: space-between;

      .firstLevelInput {
        width: 42%;
        color: rgba(5, 8, 7, 1);
        //border-color: #e9e9e9;
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #ccc;
        padding: 6px 12px;
        font-size: 14px;
        box-sizing: content-box;
      }
    }

    .errorFirst {
      width: 100%;
      margin-top: 5px;
      margin-left: 12px;
      margin-right: 87px;
      font-size: 14px;
      color: red;
      @include flex(row, space-between, center, wrap);

      .errorBlock {

      }

      .errorBlock2 {
        margin-right: 128px;
        color: red;
      }
    }

    .secondBlock {
      width: 90%;
      flex-direction: column;
      margin: 10px 0;
      color: rgba(5, 8, 7, 1);
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #ccc;
      padding: 6px 12px;
      font-size: 14px;
      box-sizing: border-box;
    }

    .textArea {
      width: 90%;
      color: rgba(5, 8, 7, 1);
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #ccc;
      padding: 6px 12px;
      font-size: 14px;
      box-sizing: border-box;
      resize: none;
    }

    .button {
      //@include flex(column, center, flex-start, wrap);
      //margin-top: 20px;
      margin-bottom: 50px;
      position: absolute;
      bottom: 70px;
      @media screen and (max-width: $mediaWidth) {
        bottom: 10px;
        left: 0;
      }
    }
  }
}