.nav {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.nav a {
    position: relative;
    padding: 15px 0 10px;
    color: #303030;
    text-transform: uppercase;
    outline: 0;
    line-height: 20px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;

}

.nav li a::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 0;
    height: 1px;

}



.button {
    margin-top: 14px;
}
