.mainBlock {
    width: 70%;
    display: flex;
    justify-content: center;
    position: fixed;
    /*background-color: white;*/

}

.info {
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    background-image: url("/src/assets/img/logo.jpg");
    background-size: contain;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    float: left;
    padding: 15px 15px;

}

.textLogo {
    margin-left: 10px;
}

.logoName, .logoInfo {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: inherit;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.logoInfo {
    font-size: 14px;
}


.nav {
    /*border: 1px solid;*/
    width: 70%;
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
}

.nav a {
    position: relative;
    padding: 15px 0 10px;
    color: #303030;
    text-transform: uppercase;
    outline: 0;
    line-height: 20px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;

}

.nav li a::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 0;
    height: 1px;

}


.button {
    margin-top: 14px;
}

/*.button a {*/
/*    text-transform: uppercase;*/
/*    color: #303030;*/
/*    text-decoration: none;*/
/*    outline: 0;*/
/*    border: 2px solid #303030;*/
/*    padding: 10px 20px;*/
/*    !*border-color: #303030;*!*/
/*    background-color: transparent;*/
/*    font-family: Raleway, sans-serif;*/
/*    font-weight: 700;*/
/*}*/


/*.button a:hover {*/
/*    color: #fff;*/
/*}*/