@import '../../common/styles/sass/variables';

.mainBlock {
  min-height: 53vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .contactsBlock {
    min-width: 50%;
    min-height: 50vh;
    background-color: $bgSecondColor;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: $mediaWidth) {
      width: 100%;
      justify-content: center;
    }

    .contacts {
      //border: 3px solid red;
      border-right: 1px solid rgba(1,1,1,0.1);
      width: 65%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      box-sizing: border-box;
      color: $textColor;
      @media screen and (max-width: $mediaWidth) {
        width: 80%;
        justify-content: center;
        border-right: 1px solid rgba(1,1,1,0);
      }

      .title {
        text-transform: uppercase;
        position: relative;
        &::before {
          bottom: -13px;
          width: 100px;
          padding: 4px 0 5px;
          border-style: solid;
          border-width: 1px 0;
          border-color: $textColor;
          opacity: 0.67;
        }
        &::after {
          bottom: -8px;
          width: 200px;
          height: 1px;
          background-color: $textColor;
        }
        &::before,
        &::after{
          content: " ";
          position: absolute;
          left: 0;
          right: 0;
          margin: 0;
        }
      }
      .ContactContainer {
        display: flex;
        align-items: center;
        .logo {
          width: 40px;
          height: 40px;
          border: 1px solid;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          font-size: 35px;
        }
        .text{
          //background-color: $bgSecondColor;
          padding-left: 10px;
        }
      }

      .links {
        display: flex;
        padding-top: 10px;
      }
    }
  }

  .feedbackFormBlock {

    width: 50%;
    min-height: 50vh;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    //padding: 10px;
    box-sizing: border-box;
    @media screen and (max-width: $mediaWidth) {
      width: 100%;
      justify-content: center;
      align-items: center;
      min-height: 60vh;
    }

    .form {
      width: 65%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      @media screen and (max-width: $mediaWidth) {
        width: 80%;
        justify-content: center;
        border-right: 1px solid rgba(1,1,1,0);
      }

      .firstBlock {
        width: 80%;
        display: flex;
        justify-content: space-between;

        .firstLevelInput {
          width: 42%;
          color: rgba(5, 8, 7, 0.5);
          //border-color: #e9e9e9;
          border-radius: 0;
          box-shadow: none;
          border: 1px solid #ccc;
          padding: 6px 12px;
          font-size: 14px;
          box-sizing: content-box;
        }
      }

      .secondBlock {
        width: 80%;
        flex-direction: column;
        margin: 10px 0;
        color: rgba(5, 8, 7, 0.5);
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #ccc;
        padding: 6px 12px;
        font-size: 14px;
        box-sizing: border-box;
      }

      .textArea {
        width: 80%;

        color: rgba(5, 8, 7, 0.5);
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #ccc;
        padding: 6px 12px;
        font-size: 14px;
        box-sizing: border-box;
        resize: none;
      }
      .button {
        width: 80%;
        margin-top: 20px;
      }
    }
  }
}













