.aboutBlock {
    min-height: 100vh;
    background-color: #71af71;
}

.aboutContainer{
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.title {
    background-color: green;
    display: flex;
    justify-content: center;
}

.aboutMe {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid;
}

.info {
    width: 470px;
    background-color: green;
    padding: 10px;
    box-sizing: border-box;
}

.expert {
    width: 470px;
    background-color: green;
    padding: 10px;
    box-sizing: border-box;
}
