.aboutBlock {
    min-height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

.aboutMe {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*border: 1px solid;*/
    margin-top: 50px;
}

.info {
    width: 48%;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.info h3 {
    line-height: 1.1;
    text-align: left;
    font-size: 24px;
}

.titleAboutMe {
    line-height: 1.1;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    font-style: normal;
}

.span {
    font-weight: 700;
}

.button {
    display: inline-block;
    padding: 12px 30px;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    /*border-color: #303030;*/
    background-color: #303030;
    position: absolute;
    cursor: pointer;
}

/*.button:hover {*/
/*    color: #505050;*/
/*}*/


.expert {
    width: 48%;
    background-color: #f9f9f9;
    /*padding: 10px;*/
    box-sizing: border-box;
}

.eduExp {
    margin-top: 30px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*border: 1px solid;*/
}

