.projectsBlock {
    min-height: 75vh;
    background-color: rgba(235, 95, 255, 0.64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 80%;
}

.projects {
    border: 1px solid;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}


.title {
    display: flex;
    justify-content: center;
    background-color: #5c5cd0;
}

@media screen and (max-width: 1149px){
    .projects {
        flex-direction: column;
        align-items: center;
    }
}